.fridge {
    width: 26.7%;
    height: 86%;
    position: absolute;
    left: 49.4%;
    top: 14%;
}

.fridgeSpace0 {
    position: absolute;
    bottom: 50%;
    left: 6%;
    line-height: 100px;
    height: 40%;
    width: 40%;
    border-radius: 0.5em;
}

.fridgeSpace1 {
    position: absolute;
    bottom: 50%;
    right: 6%;
    line-height: 100px;
    height: 40%;
    width: 40%;
}

.fridgeSpace2 {
    position: absolute;
    bottom: 4.5%;
    left: 6%;
    line-height: 100px;
    height: 40%;
    width: 40%;
}

.fridgeSpace3 {
    position: absolute;
    bottom: 4.5%;
    right: 6%;
    line-height: 100px;
    height: 40%;
    width: 40%;
}

.pickupHover:hover {
    box-shadow: 0 0 20px 2px white;
    cursor: pointer;
}

.validDrop {
    box-shadow: 0 0 20px 8px lightgreen;
}

.cupIsHere {
    background: orange;
}