.fridge {
    height: 40vh;
    background: #dddddd;
    line-height: 40vh;
    text-align: center;
}

.target {
    position: absolute;
    bottom: 0;
    background: green;
    line-height: 100px;
    height: 100px;
    width: 100px;
}

.validDrop {
    box-shadow: 0 0 20px 8px lightgreen;
}

.cupIsHere {
    background: orange;
}