.singleOrder {
    background: rgba(255, 255, 255, 0.93);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px 2px white;
    margin: 4% 4%;
    padding: 2%;
    border-radius: 5px;
    height: 5vw;
}

.singleOrder:hover {
    box-shadow: 0 0 18px 2px white;
}

.orders {
    margin-top: 100px
}