.brewer {
    width: 15%;
    position: absolute;
    bottom: 0;

}

.brewerTarget {
    position: absolute;
    left: 15%;
    bottom: 0;
    line-height: 100px;
    height: 100px;
    width: 70%;
}

.validDrop {
    box-shadow: 0 0 20px 8px lightgreen;
}

.cupIsHere {
    background: orange;
}

.dispenseButton {
    position: absolute;
    bottom: 33%;
    left: 40%;
    background: rgba(255, 0, 0, 0.3);
    border-radius: 5px;
    line-height: 30px;
    height: 11%;
    width: 20%;
    text-align: center;
}

.dispenseButton:hover {
    box-shadow: 0 0 20px 2px red;
}

.brewerImg {
    height: auto;
    width: 100%;

    vertical-align: bottom;
}