.syrups {
    width: 17%;
    position: absolute;
    left: 16%;
    bottom: 0;
}

.syrup1 {
    position: absolute;
    bottom: 0;
    left: 1.5%;
    line-height: 100px;
    height: 100px;
    width: 30.33%;
}

.syrup2 {
    position: absolute;
    bottom: 0;
    left: 34.43%;
    line-height: 100px;
    height: 100px;
    width: 30.33%;
}

.syrup3 {
    position: absolute;
    bottom: 0;
    left: 68%;
    line-height: 100px;
    height: 100px;
    width: 30.33%;
}

.syrupButton1 {
    position: absolute;
    top: 0;
    left: 9.5%;
    background: rgba(255, 0, 0, 0.3);
    border-radius: 5px;
    line-height: 30px;
    height: 26%;
    width: 15%;
    cursor: pointer;
}

.syrupButton2 {
    position: absolute;
    top: 0;
    left: 42%;
    background: rgba(255, 0, 0, 0.3);
    border-radius: 5px;
    line-height: 30px;
    height: 26%;
    width: 15%;
    cursor: pointer;
}

.syrupButton3 {
    position: absolute;
    top: 0;
    right: 9.5%;
    background: rgba(255, 0, 0, 0.3);
    border-radius: 5px;
    line-height: 30px;
    height: 26%;
    width: 15%;
    cursor: pointer;
}

.syrupButton1:hover {
    box-shadow: 0 0 20px 2px red;
}
.syrupButton2:hover {
    box-shadow: 0 0 20px 2px red;
}
.syrupButton3:hover {
    box-shadow: 0 0 20px 2px red;
}

.validDrop {
    box-shadow: 0 0 20px 8px lightgreen;
}

.cupIsHere {
    background: orange;
}

.bottle {
    height: auto;
    width: 30.33%;
    margin: 0 1.5%;

}