.syrups {
    height: 40vh;
    line-height: 40vh;
    text-align: center;
    position: relative;
    width: max-content;
}

.syrup1 {
    position: absolute;
    bottom: 0;
    background: rgba(0, 255, 55, 0.3);
    line-height: 100px;
    height: 100px;
    width: 40px;
}

.syrup2 {
    position: absolute;
    bottom: 0;
    left: 60px;
    background: rgba(0, 255, 55, 0.3);
    line-height: 100px;
    height: 100px;
    width: 40px;
}

.syrup3 {
    position: absolute;
    bottom: 0;
    left: 105px;
    background: rgba(0, 255, 55, 0.3);
    line-height: 100px;
    height: 100px;
    width: 40px;
}

.syrupButton1 {
    position: absolute;
    top: 10px;
    left: 20px;
    background: red;
    line-height: 30px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.syrupButton2 {
    position: absolute;
    top: 10px;
    left: 65px;
    background: red;
    line-height: 30px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.syrupButton3 {
    position: absolute;
    top: 10px;
    left: 110px;
    background: red;
    line-height: 30px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.validDrop {
    box-shadow: 0 0 20px 8px lightgreen;
}

.cupIsHere {
    background: orange;
}

.bottle {
    bottom: 0;
    height: 60%;
    vertical-align: bottom;
}