.syrups {
    width: 17%;
    position: absolute;
    left: 16%;
    bottom: 0;
}

.syrup0 {
    position: absolute;
    bottom: 0;
    left: 1.5%;
    line-height: 100px;
    height: 100px;
    width: 30.33%;
    border-radius: 0.5em;
}

.syrup1 {
    position: absolute;
    bottom: 0;
    left: 34.43%;
    line-height: 100px;
    height: 100px;
    width: 30.33%;
    border-radius: 0.5em;
}

.syrup2 {
    position: absolute;
    bottom: 0;
    left: 68%;
    line-height: 100px;
    height: 100px;
    width: 30.33%;
    border-radius: 0.5em;
}

.syrupButton0 {
    position: absolute;
    top: 0;
    left: 9.5%;
    background: rgba(255, 0, 0, 0.3);
    border-radius: 5px;
    line-height: 30px;
    height: 26%;
    width: 15%;
    cursor: pointer;
}

.syrupButton1 {
    position: absolute;
    top: 0;
    left: 42%;
    background: rgba(255, 0, 0, 0.3);
    border-radius: 5px;
    line-height: 30px;
    height: 26%;
    width: 15%;
    cursor: pointer;
}

.syrupButton2 {
    position: absolute;
    top: 0;
    right: 9.5%;
    background: rgba(255, 0, 0, 0.3);
    border-radius: 5px;
    line-height: 30px;
    height: 26%;
    width: 15%;
    cursor: pointer;
}

.syrupButton0:hover, .syrupButton1:hover, .syrupButton2:hover {
    box-shadow: 0 0 3px 1px red, inset 0 0 3px 1px red;
}

.cupIsHere {
    background: orange;
}

.bottle {
    height: auto;
    width: 30.33%;
    margin: 0 1.5%;

}