.counter {
    height: 40vh;
    line-height: 40vh;
    text-align: center;
}

.counterTarget1 {
    position: absolute;
    bottom: 0;
    background: rgba(0, 255, 55, 0.3);
    line-height: 100px;
    height: 100px;
    width: 100px;
}

.counterTarget2 {
    position: absolute;
    bottom: 0;
    right: 16px;
    background: rgba(0, 255, 55, 0.3);
    line-height: 100px;
    height: 100px;
    width: 100px;
}

.cupIsHere {
    background: orange;
}