.counter {
    width: 24%;
    position: absolute;
    left: 76%;
    bottom: 0;
}

.counterTarget1 {
    position: absolute;
    bottom: 0;
    background: rgba(0, 255, 55, 0.3);
    line-height: 100px;
    height: 100px;
    width: 100px;
}

.counterTarget2 {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 255, 55, 0.3);
    line-height: 100px;
    height: 100px;
    width: 100px;
}

.cupIsHere {
    background: orange;
}