.espresso {
    width: 42%;
    position: absolute;
    left: 34%;
    bottom: 0;
}

.steam1 {
    position: absolute;
    left: 5%;
    bottom: 23.5%;
    line-height: 100px;
    height: 100px;
    width: 15%;
}

.spout1 {
    position: absolute;
    left: 24.9%;
    bottom: 23.5%;
    line-height: 100px;
    height: 100px;
    width: 16%;
}

.spout2 {
    position: absolute;
    right: 24.9%;
    bottom: 23.5%;
    line-height: 100px;
    height: 100px;
    width: 16%;
}

.steam2 {
    position: absolute;
    right: 5%;
    bottom: 23.5%;
    line-height: 100px;
    height: 100px;
    width: 15%;
}

.frothButton1 {
    position: absolute;
    font-size: 12px;
    top: 10px;
    left: 5%;
    background: rgb(255, 0, 0, 0.7);
    line-height: 30px;
    height: 30px;
    padding: 0 1%;
    border-radius: 5px;
    cursor: default;
}

.steamButton1 {
    position: absolute;
    font-size: 12px;
    top: 44px;
    left: 5%;
    background: rgb(255, 0, 0, 0.7);
    line-height: 30px;
    height: 30px;
    padding: 0 1%;
    border-radius: 5px;
    cursor: default;
}

.shotButton1 {
    position: absolute;
    font-size: 12px;
    top: 10px;
    left: 25%;
    background: rgb(255, 0, 0, 0.7);
    line-height: 30px;
    height: 30px;
    padding: 0 1%;
    border-radius: 5px;
    cursor: default;
}

.frothButton2 {
    position: absolute;
    font-size: 12px;
    top: 10px;
    right: 5%;
    background: rgb(255, 0, 0, 0.7);
    line-height: 30px;
    height: 30px;
    padding: 0 1%;
    border-radius: 5px;
    cursor: default;
}

.steamButton2 {
    position: absolute;
    font-size: 12px;
    top: 44px;
    right: 5%;
    background: rgb(255, 0, 0, 0.7);
    line-height: 30px;
    height: 30px;
    padding: 0 1%;
    border-radius: 5px;
    cursor: default;
}

.shotButton2 {
    position: absolute;
    font-size: 12px;
    top: 10px;
    right: 25%;
    background: rgb(255, 0, 0, 0.7);
    line-height: 30px;
    height: 30px;
    padding: 0 1%;
    border-radius: 5px;
    cursor: default;
}

.frothButton1:hover {
    box-shadow: 0 0 20px 8px red;
}
.steamButton1:hover {
    box-shadow: 0 0 20px 8px red;
}
.shotButton1:hover {
    box-shadow: 0 0 20px 8px red;
}
.frothButton2:hover {
    box-shadow: 0 0 20px 8px red;
}
.steamButton2:hover {
    box-shadow: 0 0 20px 8px red;
}
.shotButton2:hover {
    box-shadow: 0 0 20px 8px red;
}

.cupIsHere {
    background: orange;
}

.espressoImg {
    height: auto;
    width: 100%;
}