.espresso {
    width: 42%;
    position: absolute;
    left: 34%;
    bottom: 0;
}

.steam1 {
    position: absolute;
    left: 5%;
    bottom: 23.5%;
    line-height: 100px;
    height: 100px;
    width: 15%;
    border-radius: 0.5em;
}

.spout1 {
    position: absolute;
    left: 24.9%;
    bottom: 23.5%;
    line-height: 100px;
    height: 100px;
    width: 16%;
    border-radius: 0.5em;
}

.spout2 {
    position: absolute;
    right: 24.9%;
    bottom: 23.5%;
    line-height: 100px;
    height: 100px;
    width: 16%;
    border-radius: 0.5em;
}

.steam2 {
    position: absolute;
    right: 5%;
    bottom: 23.5%;
    line-height: 100px;
    height: 100px;
    width: 15%;
    border-radius: 0.5em;
}

.frothButton1 {
    position: absolute;
    font-size: 12px;
    top: 10px;
    left: 5%;
    background: rgb(255, 0, 0, 0.6);
    line-height: 30px;
    height: 30px;
    padding: 0 1%;
    border-radius: 5px;
    cursor: default;
}

.steamButton1 {
    position: absolute;
    font-size: 12px;
    top: 44px;
    left: 5%;
    background: rgb(255, 0, 0, 0.6);
    line-height: 30px;
    height: 30px;
    padding: 0 1%;
    border-radius: 5px;
    cursor: default;
}

.shotButton1 {
    position: absolute;
    font-size: 12px;
    top: 10px;
    left: 25%;
    background: rgb(255, 0, 0, 0.6);
    line-height: 30px;
    height: 30px;
    padding: 0 1%;
    border-radius: 5px;
    cursor: default;
}

.frothButton2 {
    position: absolute;
    font-size: 12px;
    top: 10px;
    right: 5%;
    background: rgb(255, 0, 0, 0.6);
    line-height: 30px;
    height: 30px;
    padding: 0 1%;
    border-radius: 5px;
    cursor: default;
}

.steamButton2 {
    position: absolute;
    font-size: 12px;
    top: 44px;
    right: 5%;
    background: rgb(255, 0, 0, 0.6);
    line-height: 30px;
    height: 30px;
    padding: 0 1%;
    border-radius: 5px;
    cursor: default;
}

.shotButton2 {
    position: absolute;
    font-size: 12px;
    top: 10px;
    right: 25%;
    background: rgb(255, 0, 0, 0.6);
    line-height: 30px;
    height: 30px;
    padding: 0 1%;
    border-radius: 5px;
    cursor: default;
}

.frothButton1:hover, .steamButton1:hover, .shotButton1:hover, .frothButton2:hover, .steamButton2:hover, .shotButton2:hover {
    box-shadow: 0 0 3px 1px red, inset 0 0 3px 1px red;
    cursor: pointer;
}

.cupIsHere {
    background: orange;
}

.espressoImg {
    height: auto;
    width: 100%;
}