.storage {
    width: 47%;
    height: 45%;
    position: absolute;
    top: 14%;
    left: 0.8%;
}

.storageTarget {
    position: absolute;
    bottom: 0;
    background: rgba(0, 128, 0, 0.315);
    line-height: 100px;
    height: 100px;
    width: 100px;
}

.cupIsHere {
    background: orange;
}