.storage {
    width: 47%;
    height: 45%;
    position: absolute;
    top: 14%;
    left: 0.8%;
}

.storageTarget {
    height: 98%;
    width: 100%;
    border-radius: 0.5em;
    top: -1%;
    position: absolute;
}