.pitcher {
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hasMilk {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.milkStatus {
    position: absolute;
    top: 14px;
    left: 0;
    right: 0;
    margin: 0 auto;
}